body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  padding-bottom: 31px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

.header__inner {
  justify-content: space-between;
  display: flex;
}

.header__logo {
  letter-spacing: -0.5px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;;
  padding-top: 28px;
  color: #ffffff;
  font-size: 25px;
}

.span__text {
  color: #f06c64;
}

.nav {
  margin-top: 38px;

  text-transform: uppercase;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__list__item {
  margin-left: 30px;
  list-style-type: none;
}

.nav__link {
  letter-spacing: -0.2px;
  font-family: "Lato", sans-serif;;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear, color 0.2s linear;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 1;
  color: #f06c64;
}

.slider {
  height: 600px;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.slider__item {
  display: flex;
}

.button__prev {
  padding-top: 281px;
  padding-left: 2px;
}

.iphone_vert {
  padding-top: 53px;
  padding-left: 54px;
}

.iphone_goriz {
  padding-top: 174px;
  padding-left: 73px;
}

.button__next {
  padding-top: 281px;
  padding-left: 55px;
}

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.services__title {
  
  padding-top: 59px;
  color: #666d89;
  font-size: 30px;
  font-weight: 900;
  height: 0;
  margin-bottom: 53px;
  letter-spacing: 0.px;
  
}

.sevices__text {
  letter-spacing: -0.23px;
  text-align: justify;
  color: #767e9e;
  font-family: "Lato", sans-serif;;
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 43px;
}

.services__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.services__item {
  width: 33.3%;
  /*ширина*/
  max-width: 300px;
  max-height: 93px;
  padding-left: 80px;
  position: relative;
  margin-bottom: 30px;

  overflow: hidden;
}

.services__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid #666d89;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 0;
}

.services__item__title {
  margin-bottom: 9px;
  color: #666d89;
  font-size: 18px;
  font-weight: 900;


}

.services__item__text {
  max-width: 220px;
  color: #767e9e;
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
}
