

.portfolio {
    padding-top: 60px;
    padding-bottom: 46px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}


.portfolio__title {
    
    color: #666d89;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 18px;
    letter-spacing: .2px;

}

.portfolio__text {
    font-family: "Lato";
    color: #767e9e;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -.23px;
    margin-bottom: -5px;

}

.portfolio__list {
    display: flex;
    padding: 0;
    margin-bottom: 18px;
}

.portgolio__list__item {
    margin-right: 8px;
    list-style-type: none;
    
}

.btn {
    background-color: #2d303a;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #767e9e;
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    padding: 0 7px;

    line-height: 21.56px;

    text-decoration: none;
    opacity: .75; 
    transition: opacity .1s linear, color .2s linear;
    cursor: pointer;
}

.btn:hover {
    opacity: 1; 
    color: #dedede;    
}

.portfolio__picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 621px;
    overflow: hidden;
    
}

.portfolio__picture__item {
    padding-bottom: 16px;

    margin-bottom: 20px;
    max-width: 220px;
    max-height: 187px;

    overflow: hidden;
}
/* <!---portfolio--> */

.about {
    padding-top: 59px;
    border-bottom: solid 6px #fff;
    background-color: #f2f2f2;
}

.about__title {
    color: #666d89;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: .15px;
    margin-bottom: 18px;
}

.about__text {
    
    color: #767e9e;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -.23px;
    text-align: justify;
    margin-bottom: 45px;
}

.about__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__item {
    width: 33.3%;
    max-width: 300px;
    overflow: hidden;    
}

    

.about__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.about__name {
    margin-bottom: 7px;

    color: #666d89;
    font-weight: 900;
    font-size: 18px;

}

.about__item__text{
    color: #767e9e;
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    width: 301px;
    line-height: 21px ;
    margin-bottom: 25px;
    letter-spacing: -.05px;
}

.social {
    display: flex;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;

    border: 1px solid #666d89;
    border-radius: 50%;

    background-color: #fff;
    transition: background .2s linear;

}

.social__item:hover {
    background-color: #666d89;
}

.social__item:hover .social__icon {
    fill: #000
}

.social__icon {
    display: block;
    height: 15px;
    fill: #525870;

    transition: fill .1s linear;
}