.body {
    margin: 0 ;
    font-family: 'Lato', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.portfolio {
    height: 870px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}

.container {
    width: 100%;
    max-width: 1020px; 
    margin: 0 auto;
    padding: 0 40px;
}

.portfolio__title {
    padding-top: 60px;
    color: #666d89;
    font-family: "Lato";
    font-size: 30px;
    margin-bottom: 18px;
}

.portfolio__text {
    font-family: "Lato";
    color: #767e9e;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -.23px;
    margin-bottom: -5px;

}

.portfolio__list {
    display: flex;
    padding: 0;
}

.portgolio__list__item {
    margin-right: 10px;
    list-style-type: none;
    
}

.btn {
    background-color: #2d303a;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    align-items: center;
    padding: 3px 7px;

    text-decoration: none;
    opacity: .75; 
    transition: opacity .1s linear, color .2s linear;
    cursor: pointer;
}

.btn:hover {
    opacity: 1; 
    color: #dedede;    
}

.portfolio__picture {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__picture__item {
    position: relative;
    overflow: hidden;

    padding-right: 20px;
    padding-bottom: 16px;
}
/* <!---portfolio--> */

.about {
    padding-top: 53px;
    border-bottom: solid 6px #fff;
    background-color: #f2f2f2;
}

.about__title {
    color: #666d89;
    font-family: "Lato";
    font-size: 30px;
}

.about__text {
    padding-top: 18px;
    color: #767e9e;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 30px;
}

.about__inner {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 6px;
    
}

.about__item {
    width: 33%;
    padding: 0px 0px;
    margin: 0 -6px;
    margin-bottom: 30px;
}

.about__photo {
    margin-bottom: 17px;

    display: block;
    max-width: 100%;
    height: auto;
}

.about__name {
    margin-bottom: 7px;

    color: #666d89;
    font-family: "Lato - Black";
    font-size: 18px;

}

.about__item__text{
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    text-align: justify;
    width: 301px;
    line-height: 21px ;
    margin-bottom: 23px;
}

.social {
    display: flex;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 6px;

    border: 1px solid #666d89;
    border-radius: 50%;

    background-color: #fff;
    transition: background .2s linear;

}

.social__item:hover {
    background-color: #666d89;
}

.social__item:hover .social__icon {
    fill: #000
}

.social__icon {
    display: block;
    height: 15px;
    fill: #525870;

    transition: fill .1s linear;
}